.wrapper{
    width:1000px;
    height:700px;

}

body{
    background-image: conic-gradient(white,yellow,green,red,blue) ;
}

.box{
    position:absolute ;
    top:190px ;
    left:480px ;
    width:300px;
    height:300px;
    border:1px solid black ;
    background-image: radial-gradient(red,purple,rgb(37, 37, 220)) ;
    box-shadow: 0 0 0 2em yellow, 0 0 0 4em green, 80px 80px 50px black ;
}

#a{
    Color:rgb(0, 0, 0) ;
    text-shadow: 3px 3px 12px black;
    display: inline-block;
    height:20px;
    width:40px;
    border:4px solid black ;
    background-color: red;
    
    
}
#b{
    display: inline-block;
    position:absolute;
    height:20px;
    width:40px;
    border:4px solid black ;
    background-color:red ;
    right:0px;
}
#c{
    position:absolute ;
    bottom:0% ;
    left: 0%;
    height:20px;
    width:40px;
    border:4px solid black ;
    background-color: red;
}
#d{
    position:absolute;
    bottom:0% ;
    right:0% ;
    height:20px;
    width:40px;
    border:4px solid black ;
    background-color:red;
}
#e{
    position : relative; 
    left:120px ;
    top:120px ;
    width:40px;
    height:20px ;
    border:5px solid black ;
    background-color: pink;
    
}
